<% provide(:title, "About") %>
<h1>About page</h1>
<p>
	This is a Ruby on Rails Twitter web app that follows the
	<a href="http://www.railstutorial.org/book"> Hartl's Ruby on Rails Tutorial  </a>
</p>	

